<article id="<%= dom_id post %>" class="post">
  <p class="post-id">#<%= post.id %></p>

  <h2>
    <%= highlight(post.title, params.dig(:q, :title_or_description_or_body_cont)) %>
  </h2>

  <p class="description">
    <%= highlight(post.description, params.dig(:q, :title_or_description_or_body_cont)) %>
  </p>

  <p class="body">
    <%= highlight(post.body, params.dig(:q, :title_or_description_or_body_cont)) %>
  </p>
</article>
