<div id="<%= dom_id post %>">
  <p>
    <strong>ID:</strong>
    <%= post.id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%#= post.title %>
    <%= highlight(post.title, params.dig(:q, :title_or_description_or_body_cont)) %>
  </p>

  <p>
    <strong>Description:</strong>
    <%#= post.description %>
    <%= highlight(post.description, params.dig(:q, :title_or_description_or_body_cont)) %>
  </p>

  <p>
    <strong>Body:</strong>
    <%#= post.body %>
    <%= highlight(post.body, params.dig(:q, :title_or_description_or_body_cont)) %>
  </p>

</div>
