<!--<p style="color: green"><%#= notice %></p>-->

<h1>Posts</h1>
<%= Time.zone.now %>
<%= search_form_for @q, data: { turbo_frame: :results } do |f| %>
  <%= f.label :title_or_description_or_body_cont %>
  <%= f.search_field :title_or_description_or_body_cont,
                     oninput: 'this.form.requestSubmit()', autofocus: true, autocomplete: 'off' %>
<% end %>
<br>
<%= turbo_frame_tag :results do %>
  <%= Time.zone.now %>
  <div id="posts">
    <% @posts.each do |post| %>
      <div style="border: 2px solid green; border-radius: 5px; padding-left: 5px">
        <%= render post %>
        <p>
          <%= link_to "Show this post", post %>
        </p>
      </div>
      <br>
    <% end %>
  </div>
<% end %>
<%#= link_to "New post", new_post_path %>
